{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
  <div class="card">
    <div class="card-body">
      <h1 class="display-1 text-center">Django Tasks App</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repellendus veniam aspernatur perspiciatis deleniti. Corporis perferendis minus, expedita, repellat velit quo voluptatibus reprehenderit saepe cupiditate similique, quidem quibusdam voluptatem distinctio.</p>
    </div>
  </div>
</main>
{% endblock content %}
